.note {
    height:15em;
    width:15em;
    padding:2em;
    border-radius: 25px;
    font-family: 'Lato';
    background:rgb(204, 222, 255);
    display:flex;
    flex-direction: column;
    cursor: pointer;
    margin: auto;
}

.note:nth-child(n) {
    position: relative;
    background:rgb(204, 230, 255); }

.note:nth-child(3n) {
    position:relative;
    background:rgb(181, 181, 247); }

.note:nth-child(2n) {
    position:relative;
    background:rgb(204, 255, 219); }

.note:hover {
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.05);
    position:relative;
    z-index:5;
}

.note-foot {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.note-body {
    height: 220px;
}

.title {
    text-align: center;
    font-size: 20px;
}

.date {
    font-size: 15px;
}

.note-buttons:hover {
    transform: scale(2.0);
    position:relative;
    z-index:5;
}

@media screen and (max-width: 920px) {
    .note {
        height:10em;
        width:10em;
    }
    .title {
        font-size: small;
    }
    .routeCards {
        font-size: small;
    }
}

@media screen and (max-width: 481px) {
    .note {
        height:8em;
        width:8em;
    }
    .title {
        font-size: x-small;
    }
    .routeCards {
        font-size: x-small;
    }
}
